<h2>Edit Review</h2>

<form action="/reviews/update" method="POST">

  <input type="hidden" name="reviewId" value="<%= review._id %>">
  <div>
    <label><strong>Rating (1-5):</strong></label><br>
    <input type="number" name="rating" value="<%= review.rating %>" min="1" max="5" require style="width:60px;">
  </div>
  <br>
  <div>
    <label><strong>Comment:</strong></label><br>
    <textarea name="comment" rows="4" cols="40"><%= review.comment %></textarea>
  </div>

  <br>

  <button type="submit">Save Changes</button>

</form>

<a href="/reviews?recipeId=<%= review.recipe %>">Back</a>