<h1>Create Recipe</h1>

<form method="POST" action="/recipes/create">

  <label>Title</label><br>
  <input type="text" name="title" required><br><br>

  <label>Cusine</label><br>
  <input list="cuisine-options" name="cuisine" required>
  <datalist id="cuisine-options">
    <option value="American">American</option>
    <option value="Chinese">Chinese</option>
    <option value="Italian">Italian</option>
    <option value="Mexican">Mexican</option>
    <option value="Japanese">Japanese</option>
  </datalist><br><br>

  <label>Description</label><br>
  <textarea name="description" required></textarea><br><br>

  <label>Common Ingredients</label><br>
  <input type="checkbox" name="common_ingredients" value="Salt"> Salt
  <input type="checkbox" name="common_ingredients" value="Pepper"> Pepper
  <input type="checkbox" name="common_ingredients" value="Olive Oil"> Olive Oil
  <input type="checkbox" name="common_ingredients" value="Garlic"> Garlic
  <input type="checkbox" name="common_ingredients" value="Onion"> Onion
  <br><br>

  <label>Other Ingredients (one per line)</label><br>
  <textarea name="ingredients"></textarea><br><br>  

  <label>Instructions (one per line) </label><br>
  <textarea name="instructions" required></textarea><br><br>

  <button type="submit">Create Recipe</button>

</form>

<a href="/recipes">Back to Recipes</a>